/* || Common */

*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

* i {
    margin-right: .2em;
}

hr {
    margin-bottom: 1em;
}

.active {
    font-style: italic;
}

html {
    background-color: black;
    color: white;
}

/* || Flexbox Shorthands */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    align-items: center;
    align-content: center;
}

.invisible {
    display: none;
}

/* || Main Content */

body main {
    margin: 1em;
}

body main h1 {
    font-family: 'Barlow', sans-serif;
    padding-bottom: .5em;
}

body main p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.99em;
    padding-bottom: 1em;
    padding-right: 1.5em;
}

body main img {
    padding-top: .5em;
    padding-bottom: 1em;
}



/* || Main Header */

.main-header {
    top: 0;
    width: 100%;
    padding: 2em 2.5em 2em 2.5em;
    z-index: 1;
    justify-content: space-between;
    background-color: black;
}

/* || Main Header || Brand */

.brand {
    gap: 1em;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 700;
}

.brand-name {
    position: relative;
    font-size: 2em;
}

.brand-img {
    margin-left: -.3em;
    padding: .25em;
    width: 3em;
    height: auto;
    border-radius: 50%;
    border: 5px solid rgb(75, 75, 75);
}

/* || Main Header || Main Navbar */

.main-navbar {
    background-color: black;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.5em;
}

.main-navbar-list {
    position: relative;
    padding-bottom: 5px;
    list-style: none;
    gap: 1em;
}

/* || Footer */

footer {
    margin-top: 1em;
}

footer hr {
    color: gray;
    border-style: solid;
}

footer ul {
    flex-direction: row;
    display: flex;
    gap: 1em;
}

footer ul a {
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
}
