.other {
    padding: 1em;
}

nav {
    border-radius: 1em;
    border-bottom: 5px solid rgba(245, 245, 245, 0.2);
}

footer {
    margin: 1em;
}

footer hr {
    color: gray;
    height: 2px;
}

#foot {
    margin-top: 1em;
}

#foot ul {
    flex-direction: row;
    display: flex;
    gap: 1em;
}

#foot ul a {
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
}
