{% extends "../other.html" %}

{% block style %}games{% endblock %}

{% block header %}
    <script src="../js/utils.js"></script>
    <script src="../js/games.js"></script>
{% endblock %}

{% block body %}
	<div id="ASIC">
		<h1 id="title" class="typing">
			<span>A.S.I.C. ()</span> Artificial Spark Institute of Corporeal Matter
		</h1>
		<div id="wrapper">
			<video playsinline autoplay muted loop id="asic">
				<source src="../resources/A.S.I.C.mp4" type="video/mp4">
			</video>
			<video playsinline autoplay muted loop id="other" class="invisible">
				<source src="../resources/A.S.I.C_2.mp4" type="video/mp4">
			</video>
			<video id="creepy" class="invisible" playsinline autoplay muted loop controls>
				<source src="../resources/0010-0096.mp4" type="video/mp4">
			</video>
			<iframe src="../resources/paper.pdf" frameborder="0" width="100%" class="invisible" id="paper"></iframe>
			<div id="abbrv">
				<h1 id="artificial" class="invisible">
					Artificial
				</h1>
				<h1 class="invisible">
					Spark
				</h1>
				<h1 class="invisible">
					Institute of
				</h1>
				<h1 id="corporeal" class="invisible">
					Corporeal Matter
				</h1>
				<button>
					Join Us!
				</button>
				<div id="passcode">
					<p>Enter Code:</p>
					<input type="text">
				</div>
			</div>
		</div>
	</div>

	<div id="factory">
		<div>
			<h1>Factory Game</h1>
			<img id="factory" src="../images/factory.png" alt="Factory">
			<p>Coming Soon in 2024</p>
		</div>

		<video id="yoru" autoplay>
			<source src="../resources/3000.mp4" type="video/mp4">
		</video>
	</div>
</div>
{% endblock %}
