{% extends "../base.html" %}

{% block style %}index{% endblock %}

{% block head %}
    <script src="../js/utils.js"></script>
    <script src="../js/main.js"></script>
{% endblock %}

{% block pre %}
	<video id="loadNext" autoplay>
        <source src="../resources/loadNext.mp4" type="video/mp4">
    </video>
{% endblock %}

{% block nav %}index{% endblock %}

{% block body %}
	<div id="banner"></div>

	<div>
		<img id="video" src="../images/background.png" alt="Background">
	</div>

	<div class="content-wrapper" id="content">
		{% include "../ui.html" %}
	</div>

	<div id="popup-dead" class="popup">
		<img src="../images/dead-banner.png" alt="Dead Planet Banner">
		<div class="inner">
			<h3>About</h3>
			<p>A crazy mad scientist enters the life of elementary school student. In Harvard Elementary School, will this change is life for ever? Read Chapter 1, 2 and 3 to find out!</p>
			<ul>
				<li>Chapter 1</li>
				<li>Chapter 2</li>
				<li>Chapter 3</li>
			</ul>
		</div>
	</div>

	<div id="popup-xenon" class="popup">
		{% include "../../svg/x.svg" %}
		<img src="../images/xenon-banner.png" alt="Xenon Warriors Banner">
		<div class="inner">
			<div class="preview invisible">
				<video id="boom" controls>
					<source src="../resources/BOOM.mp4" type="video/mp4">
				</video>
				<div class="comments">
					<input type="checkbox" id="check">
					<label for="check">Comments</label>
					<div class="content">
						<p>I'm the comments section!<p>
						<div class="comment">
							<div class="profile">
								<img src="../images/wolfie.png">
								<p>LeWolfie<p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<h3>About</h3>
			<p>It's a battle to the top. See who the most powerful is of some old friends. Witness this battle in Chapter 1</p>
			<ul>
				<li id="chapter-1">Chapter 1: Showdown</li>
				<li>Chapter 2</li>
				<li>Chapter 3</li>
			</ul>
		</div>
	</div>


	<div id="speaker">
		{% include "../../svg/speaker.svg" %}
		{% include "../../svg/no-speaker.svg" %}
	</div>
{% endblock %}
