body #main {
    margin: 2em !important;
}

#who {
    margin-top: 3em;
    width: 100%;
}

#who video {
    position: absolute;
    left: 37.5%;
}

#who h1, p {
    text-align: center;
}

#who h1 {
    font-size: 3em;
}

#who p {
    font-size: 1.7em !important;
}