.index {
    position: fixed;
    padding-bottom: 1em;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 1em;
    width: 97%;
}

.index ul {
    margin-right: 2em;
}

#banner {
    background-image: url("../images/banner.png");
    background-size: cover;
    background-position: center center;
    width: 100vw;
    top: -30px;
    height: 100%;
    position: fixed;
    z-index: -1;
}

#video {
    opacity: 0;
    width: 100vw;
    top: -30px;
    height: auto;
    position: fixed;
    z-index: -1;
}

#content {
    background-color: black;
    padding: 2em;
    padding-left: 1em;
    padding-right: 1em;
    z-index: 0;
    width: 100%;
    position: relative;
    top: 450px;
}

#speaker {
    top: 11.5%;
    right: .5%;
    position: fixed;
    z-index: 1;
    background-color: white;
    border-radius: 2em;
    padding: .5em;
}

#speaker svg {
    position: relative;
    top: 2.5px;
    width: 2em;
    fill: black;
}

#load, #loadNext {
    position: absolute;
    top: 30%;
    left: 37.5%;
    margin: -25px 0 0 -25px; /* Apply negative top and left margins to truly center the element */
}

.section h1 {
	font-size: 3em !important;
}

.section h2 {
	font-size: 1.75em;
}

.section h3 {
    font-family: 'Unbounded', sans-serif;
	margin-bottom: .5em
}

.section div {
	margin-bottom: 1em;
}

.section div div {
	display: flex;
	gap: 1em;
	overflow: auto;
	white-space: nowrap;
}

.section div .slider .item {
	background-color: #292929;
	border-radius: .5em;
	padding: .5em 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section div img {
	border-radius: 1em;
	width: 15em;
}

.section div h3 {
	text-align: center;
	text-align: center
}

#music .item div {
	display: flex;
	flex-direction: column;
}

#music .item div video {
	width: 20em;
}

#ecchi div {
	padding-bottom: 1em;
}

#popup {
	box-shadow: 0 5px 30px rgba(0, 0, 0, .3);
	margin: -25px 0 0 -25px;
	position: fixed;
	border-radius: 1em;
	background: #151515;
	padding: 12em 24em;
	opacity: 0;
	top: 20%;
	left: 23%;
	transform: translate(2%, 20%);
	transition: .5s;
}

#popup.active {
	transform: translate(2%, 20%);
	transition: .5s;
	opacity: 1;
}

#main.blur {
	filter: blur(20px);
	overflow: hidden;
	transition: .5s;
}

h2 {
    font-family: 'Unbounded', cursive;
    margin-bottom: .5em;
    padding: 0;
}

