.index {
    position: fixed;
    padding-bottom: 1em;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 1em;
    width: 97%;
}

.index ul {
    margin-right: 2em;
}

#banner {
    background-image: url("../images/banner.png");
    background-size: cover;
    background-position: center center;
    width: 100vw;
    top: -30px;
    height: 100%;
    position: fixed;
    z-index: -1;
}

#video {
    opacity: 0;
    width: 100vw;
    top: -30px;
    height: auto;
    position: fixed;
    z-index: -1;
}

#content {
    background-color: black;
    padding: 2em;
    padding-left: 1em;
    padding-right: 1em;
    z-index: 0;
    width: 100%;
    position: relative;
    top: 450px;
}

#speaker {
    top: 11.5%;
    right: .5%;
    position: fixed;
    z-index: 1;
    background-color: white;
    border-radius: 2em;
    padding: .5em;
}

#speaker svg {
    position: relative;
    top: 2.5px;
    width: 2em;
    fill: black;
}

#load, #loadNext {
    position: absolute;
    top: 30%;
    left: 37.5%;
	z-index: 1;
    margin: -25px 0 0 -25px; /* Apply negative top and left margins to truly center the element */
}

.section h1 {
	font-size: 3em !important;
}

.section h2 {
	font-size: 1.75em;
}

.section h3 {
    font-family: 'Unbounded', sans-serif;
	margin-bottom: .5em
}

.section div {
	margin-bottom: 1em;
}

.section div div {
	display: flex;
	gap: 1em;
	overflow: auto;
	white-space: nowrap;
}

.section div .slider .item {
	background-color: #292929;
	border-radius: .5em;
	padding: .5em 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section div img {
	border-radius: 1em;
	width: 15em;
}

.section div h3 {
	text-align: center;
	text-align: center
}

#music .item div {
	display: flex;
	flex-direction: column;
}

#music .item div video {
	width: 20em;
}

#ecchi div {
	padding-bottom: 1em;
}

.popup {
	font-family: 'Unbounded', sans-serif;
	box-shadow: 0 5px 30px rgba(0, 0, 0, .3);
	transform: translate(2%, 20%);
	margin: -25px 0 0 -25px;
	display: none;
	position: fixed;
	border-radius: 1em;
	background: #151515;
	padding: 2em;
	opacity: 0;
	top: 1.75%;
	left: 10%;
	width: 75%;
	transition: .5s;
	overflow: scroll;
	max-height: 72.5vh;
	height: 72.5vh;
}

.popup .x {
	position: relative;
	fill: white;
	width: 1em;
	left: 100%;
}

.popup img {
	width: 100%;
	height: 20vw;
	object-fit: cover;
	padding: 0 !important;
	border-radius: 1em;
}

.popup ul {
	text-align: right;
}

.popup li {
	margin-bottom: .5em;
}

.popup p {
	width: 24em;
	font-style: italic;
}

.popup h3 {
	margin-bottom: .5em;
}

.popup .inner {
	margin: 1em;
	background: #282727;
	border-radius: 1em;
	padding: 2em;
	position: relative;
	top: -5vw;
}

.popup.visible {
	transform: translate(2%, 20%);
	display: block;
	transition: .5s;
	opacity: 1;
}

.popup li {
    font-family: 'Unbounded', cursive;
    background-color: #272727;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    border-radius: 1em;
    transition: transform 0.5s;
    list-style: none;
    padding: 10px;
	padding-right: 2em;
}

.popup li:hover {
    transform: scale(1.05);
    background-color: #1c1c1c;
}

.popup .rating {
	display: flex;
	flex-direction: row;
	margin-bottom: 1em;
	gap: 0.5em;
}

.popup .rating svg {
	fill: yellow;
	width: 1em;
}

.popup .preview {
	margin-bottom: 2em;
}

.popup .preview video {
	margin-bottom: 1em;
	border-radius: 1em;
	width: 48em;
}

/* Collapsible comments section; adapted from [1 & 2] */
.popup .comments {
}

.popup .comments .content {
	padding: 0 10px;
	max-height: 0;
	overflow: hidden;
	transition: all 0.3s ease;
}

.popup .comments input {
	display: none;
}

.popup .comments label:after {
	margin-left: 10px;
	content: '+';
}

.popup .comments input:checked + label:after {
	content: "\2013";
}

.popup .comments input:checked + label + .content {
	max-height: 200px;
	padding: 10px 10px 20px;
}

.popup .comment {
}

.popup .comment .profile {
}

.popup .profile img {
	border-radius: 1em;
	width: 1em;
	height: auto;
}

#main.blur {
	filter: blur(20px);
	overflow: hidden;
	transition: .5s;
}

h2 {
    font-family: 'Unbounded', cursive;
    margin-bottom: .5em;
    padding: 0;
}

/* References:
	* [1]: https://youtube.com/watch?v=RvpYnUZRquw
	* [2]: https://youtube.com/watch?v=fSkhTd4rpDo
*/
