#main {
	display: flex;
	flex-direction: column;
}

img {
	width: 100%;
}

button {
	font-family: 'Unbounded', cursive;
	background-color: white;
	border-radius: 1em;
	font-size: 2em;
	padding: .6em 1em;
}
