<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/sites/{% block style %}{% endblock %}.css">
	{% block head %}{% endblock %}
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
    <title>Fultonic Entertainment</title>
</head>
<body>
	{% block pre %}{% endblock %}
	
	<header class="main-header {% block nav %}{% endblock %}">
		<div class="brand-wrapper">
			<a class="brand flex-row flex-center" id="logo" href="/">
				<img src="../images/logo.png" alt="Fultonic Entertainment Logo" />
				<h1>Fultonic Entertainment</h1>
			</a>
		</div>

		<nav class="main-navbar flex-row flex-center">
			<ul class="flex-row flex-center" id="nav">
				<li>
					<a href="index.html">Home</a>
				</li>

				<li>
					<a href="https://www.patreon.com/user?u=79807269">Patreon</a>
				</li>

				<li>
					<a href="https://discord.gg/qTahU85m7b">Community</a>
				</li>

				<li>
					<a href="games.html">Games</a>
				</li>

				<li>
					<a href="signin.html">Sign In</a>
				</li>

				<li>
					<a href="login.html">Log In</a>
				</li>

                <li>
                    <a href="about.html">About Us</a>
                </li>
			</ul>
		</nav>
	</header>

	<main>
		{% block body %}{% endblock %}
	</main>
</body>
</html>
