<div id="manga" class="section">
	<h1>Manga</h1>

	<div id="fantasy">
		<h2>Fantasy</h2>

		<div class="slider">
			<div class="item" onclick="jinrui()">
				<img id="jinrui" src="../images/jinrui-banner.png" alt="Show Coming Soon">
				<h3>The Limits of Humanity</h3>
			</div>
			<div class="item">
				<img src="../images/anime-soon.png" alt="Show Coming Soon">
				<h3>You're the One to Blame</h3>
			</div>
			<div class="item">
				<img src="../images/anime-soon.png" alt="Show Coming Soon">
				<h3>Welsteinberg</h3>
			</div>
		</div>
	</div>

	<div id="supernatural">
		<h2>Supernatural</h2>

		<div class="slider">
			<div class="item">
				<img src="../images/yoru.png" alt="Show Coming Soon">
				<h3>Yoru no Yoru</h3>
			</div>
			<div class="item">
				<img src="../images/anime-soon.png" alt="Show Coming Soon">
				<h3>Angels Among Demons</h3>
			</div>
			<div class="item">
				<img src="../images/anime-soon.png" alt="Show Coming Soon">
				<h3>Infinityverse</h3>
			</div>
			<div class="item">
				<img src="../images/anime-soon.png" alt="Show Coming Soon">
				<h3>Divinity</h3>
			</div>
		</div>
	</div>

	<div id="scifi">
		<h2>Sci-fi</h2>

		<div class="slider">
			<div class="item" onclick="dead()">
				<img src="../images/dead.png" alt="Show Coming Soon">
				<h3>Dead Planet</h3>
			</div>
			<div class="item">
				<img src="../images/anime-soon.png" alt="Show Coming Soon">
				<h3>A Clockwork Fantasy</h3>
			</div>
			<div class="item">
				<img src="../images/anime-soon.png" alt="Show Coming Soon">
				<h3>Xeno's Paradox</h3>
			</div>
		</div>

	</div>

	<div id="horror">
		<h2>Horror</h2>

		<div class="slider">
			<div class="item">
				<img src="../images/anime-soon.png" alt="Show Coming Soon">
				<h3>Erkosphere</h3>
			</div>
		</div>
	</div>

	<div id="romance">
		<h2>Ecchi</h2>

		<div>
			<h3><i>Coming soon...</i></h3>
		</div>
	</div>

	<div id="romance">
		<h2>Romance</h2>

		<div>
			<h3><i>Coming soon...</i></h3>
		</div>
	</div>
</div>

<hr>

<div id="games" class="section">
	<h1>Games</h1>

	<div id="scifi">
		<h2>Sci-fi</h2>

		<div class="slider">
			<div class="item">
				<img src="../images/dead.png" alt="Show Coming Soon">
				<h3>Dead Planet</h3>
			</div>
			<div class="item">
				<img src="../images/factory.png" alt="Show Coming Soon">
				<h3>Factory Game</h3>
			</div>
		</div>
	</div>

	<div id="fantasy">
		<h2>Fantasy</h2>

		<div class="slider">
			<div class="item">
				<img src="../images/games-soon.png" alt="Show Coming Soon">
				<h3>Clockwork Fighters</h3>
			</div>
		</div>
	</div>

	<div id="browser">
		<h2>Browser</h2>

		<div class="slider">
			<div class="item">
				<img src="../images/terra.png" alt="Show Coming Soon">
				<h3>Terrafoundation</h3>
			</div>
		</div>
	</div>
</div>

<hr>

<div id="anime" class="section">
	<h1>Anime</h1>

	<div id="fantasy">
		<h2>Fantasy</h2>

		<div class="slider">
			<div class="item">
				<img id="jinrui" src="../images/jinrui-banner.png" alt="Show Coming Soon">
				<h3>The Limits of Humanity</h3>
			</div>
			<div class="item">
				<img src="../images/shows-soon.png" alt="Show Coming Soon">
				<h3>You're the One to Blame</h3>
			</div>
			<div class="item">
				<img src="../images/shows-soon.png" alt="Show Coming Soon">
				<h3>Welsteinberg</h3>
			</div>
		</div>
	</div>

	<div id="scifi">
		<h2>Sci-fi</h2>

		<div class="slider">
			<div class="item">
				<img src="../images/shows-soon.png" alt="Show Coming Soon">
				<h3>Xeno's Paradox</h3>
			</div>
			<div class="item">
				<img src="../images/shows-soon.png" alt="Show Coming Soon">
				<h3>Xenon Warriors</h3>
			</div>
		</div>
	</div>

	<div id="supernatural">
		<h2>Supernatural</h2>

		<div class="slider">
			<div class="item">
				<img src="../images/yoru.png" alt="Show Coming Soon">
				<h3>Yoru no Yoru</h3>
			</div>
			<div class="item">
				<img src="../images/shows-soon.png" alt="Show Coming Soon">
				<h3>Angels Among Demons</h3>
			</div>
		</div>
	</div>
</div>

<hr>

<div id="shows" class="section">
	<h1>Shows</h1>

	<div id="slice">
		<h2>Slice-of-life</h2>

		<div class="slider">
			<div class="item">
				<img src="../images/xeno.jpg" alt="Show Coming Soon">
				<h3>Xeno's Show</h3>
			</div>
			<div class="item">
				<img src="../images/ct.png" alt="Show Coming Soon">
				<h3>CT Show</h3>
			</div>
			<div class="item">
				<img src="../images/draggy-banner.jpg" alt="Show Coming Soon">
				<h3>Draggy Show</h3>
			</div>
			<div class="item">
				<img src="../images/shows-soon.png" alt="Show Coming Soon">
				<h3>Gaming Show</h3>
			</div>
			<div class="item">
				<img src="../images/shows-soon.png" alt="Show Coming Soon">
				<h3>Shopnyop Show</h3>
			</div>
			<div class="item">
				<img src="../images/shows-soon.png" alt="Show Coming Soon">
				<h3>Abloom Show</h3>
			</div>
		</div>
	</div>

	<div id="supernatural">
		<h2>Supernatural</h2>

		<div class="slider">
			<div class="item">
				<img src="../images/yoru.png" alt="Show Coming Soon">
				<h3>Yoru no Yoru</h3>
			</div>
			<div class="item">
				<img src="../images/shows-soon.png" alt="Show Coming Soon">
				<h3>Angels Among Demons</h3>
			</div>
			<div class="item">
				<img src="../images/shows-soon.png" alt="Show Coming Soon">
				<h3>Infinityverse</h3>
			</div>
			<div class="item">
				<img src="../images/shows-soon.png" alt="Show Coming Soon">
				<h3>Divinity</h3>
			</div>
		</div>
	</div>

	<div id="ai">
		<h2>AI Takedown</h2>

		<div>
			<h3><i>Coming soon...</i></h3>
		</div>
	</div>
</div>

<hr>

<div id="music" class="section">
	<h1>Music</h1>

	<div>
		<h2>Pop</h2>
	</div>

	<div>
		<h2>Dramatic</h2>
	</div>

	<div>
		<h2>Excentric</h2>

		<div>
			<h3>F*** Crypto</h3>
		</div>
	</div>

	<div class="fun">
		<h2>Fun</h2>

		<div class="item">
			<h3>Balls in Yo Jaws</h3>
			<video controls>
				<source src="../resources/balls.mp4" type="video/mp4">
			</video>
		</div>
	</div>
</div>
