<div id="manga" class="section">
	<h1>Manga</h1>

	<div id="fantasy">
	    <h2>Fantasy</h2>
	
	    <div class="slider">
	        <div id="the limits of humanity" class="item">
			<img src="../images/jinrui-banner.png" alt="Show Coming Soon">
		    <h3>The Limits of Humanity</h3>
		</div>
		
		<div id="you're the one to blame" class="item">
			<img src="../images/anime-soon.png" alt="Show Coming Soon">
		    <h3>You're the One to Blame</h3>
		</div>
		
		<div id="welsteinberg" class="item">
			<img src="../images/anime-soon.png" alt="Show Coming Soon">
		    <h3>Welsteinberg</h3>
		</div>
		

	    </div>
	</div>
	
	<div id="supernatural">
	    <h2>Supernatural</h2>
	
	    <div class="slider">
	        <div id="yoru no yoru" class="item">
			<img src="../images/yoru.png" alt="Show Coming Soon">
		    <h3>Yoru no Yoru</h3>
		</div>
		
		<div id="angels among demons" class="item">
			<img src="../images/anime-soon.png" alt="Show Coming Soon">
		    <h3>Angels Among Demons</h3>
		</div>
		
		<div id="infinityverse" class="item">
			<img src="../images/anime-soon.png" alt="Show Coming Soon">
		    <h3>Infinityverse</h3>
		</div>
		
		<div id="divinity" class="item">
			<img src="../images/anime-soon.png" alt="Show Coming Soon">
		    <h3>Divinity</h3>
		</div>
		

	    </div>
	</div>
	
	<div id="sci-fi">
	    <h2>Sci-fi</h2>
	
	    <div class="slider">
	        <div id="dead planet" class="item">
			<img src="../images/dead.png" alt="Show Coming Soon">
		    <h3>Dead Planet</h3>
		</div>
		
		<div id="a clockwork fantasy" class="item">
			<img src="../images/anime-soon.png" alt="Show Coming Soon">
		    <h3>A Clockwork Fantasy</h3>
		</div>
		
		<div id="xeno's paradox" class="item">
			<img src="../images/anime-soon.png" alt="Show Coming Soon">
		    <h3>Xeno's Paradox</h3>
		</div>
		

	    </div>
	</div>
	
	<div id="horror">
	    <h2>Horror</h2>
	
	    <div class="slider">
	        <div id="erkosphere" class="item">
			<img src="../images/anime-soon.png" alt="Show Coming Soon">
		    <h3>Erkosphere</h3>
		</div>
		

	    </div>
	</div>
	
	<div id="romance">
	    <h2>Romance</h2>
	
	    <div class="slider">
	        
	    </div>
	</div>
	
	<div id="ecchi">
	    <h2>Ecchi</h2>
	
	    <div class="slider">
	        
	    </div>
	</div>
	

</div>
<div id="games" class="section">
	<h1>Games</h1>

	<div id="sci-fi">
	    <h2>Sci-fi</h2>
	
	    <div class="slider">
	        <div id="dead planet" class="item">
			<img src="../images/dead.png" alt="Show Coming Soon">
		    <h3>Dead Planet</h3>
		</div>
		
		<div id="factory game" class="item">
			<img src="../images/factory.png" alt="Show Coming Soon">
		    <h3>Factory Game</h3>
		</div>
		

	    </div>
	</div>
	
	<div id="fantasy">
	    <h2>Fantasy</h2>
	
	    <div class="slider">
	        <div id="clockwork fighters" class="item">
			<img src="../images/games-soon.png" alt="Show Coming Soon">
		    <h3>Clockwork Fighters</h3>
		</div>
		

	    </div>
	</div>
	
	<div id="browser">
	    <h2>Browser</h2>
	
	    <div class="slider">
	        <div id="terrafoundation" class="item">
			<img src="../images/terra.png" alt="Show Coming Soon">
		    <h3>Terrafoundation</h3>
		</div>
		

	    </div>
	</div>
	

</div>
<div id="anime" class="section">
	<h1>Anime</h1>

	<div id="fantasy">
	    <h2>Fantasy</h2>
	
	    <div class="slider">
	        <div id="the limits of humanity" class="item">
			<img src="../images/jinrui-banner.png" alt="Show Coming Soon">
		    <h3>The Limits of Humanity</h3>
		</div>
		
		<div id="you're the one to blame" class="item">
			<img src="../images/shows-soon.png" alt="Show Coming Soon">
		    <h3>You're the One to Blame</h3>
		</div>
		
		<div id="welsteinberg" class="item">
			<img src="../images/shows-soon.png" alt="Show Coming Soon">
		    <h3>Welsteinberg</h3>
		</div>
		

	    </div>
	</div>
	
	<div id="sci-fi">
	    <h2>Sci-fi</h2>
	
	    <div class="slider">
	        <div id="xeno's paradox" class="item">
			<img src="../images/shows-soon.png" alt="Show Coming Soon">
		    <h3>Xeno's Paradox</h3>
		</div>
		
		<div id="xenon warriors" class="item">
			<img src="../images/shows-soon.png" alt="Show Coming Soon">
		    <h3>Xenon Warriors</h3>
		</div>
		

	    </div>
	</div>
	
	<div id="supernatural">
	    <h2>Supernatural</h2>
	
	    <div class="slider">
	        <div id="yoru no yoru" class="item">
			<img src="../images/yoru.png" alt="Show Coming Soon">
		    <h3>Yoru no Yoru</h3>
		</div>
		
		<div id="angels among demons" class="item">
			<img src="../images/shows-soon.png" alt="Show Coming Soon">
		    <h3>Angels Among Demons</h3>
		</div>
		

	    </div>
	</div>
	

</div>
<div id="shows" class="section">
	<h1>Shows</h1>

	<div id="slice-of-life">
	    <h2>Slice-of-life</h2>
	
	    <div class="slider">
	        <div id="xeno" class="item">
			<img src="../images/xeno.jpg" alt="Show Coming Soon">
		    <h3>Xeno</h3>
		</div>
		
		<div id="ct" class="item">
			<img src="../images/ct.png" alt="Show Coming Soon">
		    <h3>CT</h3>
		</div>
		
		<div id="draggy" class="item">
			<img src="../images/draggy-banner.jpg" alt="Show Coming Soon">
		    <h3>Draggy</h3>
		</div>
		
		<div id="gaming" class="item">
			<img src="../images/shows-soon.png" alt="Show Coming Soon">
		    <h3>Gaming</h3>
		</div>
		
		<div id="shopnyop" class="item">
			<img src="../images/shows-soon.png" alt="Show Coming Soon">
		    <h3>Shopnyop</h3>
		</div>
		
		<div id="abloom" class="item">
			<img src="../images/shows-soon.png" alt="Show Coming Soon">
		    <h3>Abloom</h3>
		</div>
		

	    </div>
	</div>
	
	<div id="supernatural">
	    <h2>Supernatural</h2>
	
	    <div class="slider">
	        <div id="yoru no yoru" class="item">
			<img src="../images/yoru.png" alt="Show Coming Soon">
		    <h3>Yoru no Yoru</h3>
		</div>
		
		<div id="angels among demons" class="item">
			<img src="../images/shows-soon.png" alt="Show Coming Soon">
		    <h3>Angels Among Demons</h3>
		</div>
		
		<div id="infinityverse" class="item">
			<img src="../images/shows-soon.png" alt="Show Coming Soon">
		    <h3>Infinityverse</h3>
		</div>
		
		<div id="divinity" class="item">
			<img src="../images/shows-soon.png" alt="Show Coming Soon">
		    <h3>Divinity</h3>
		</div>
		

	    </div>
	</div>
	
	<div id="ai takedown">
	    <h2>AI Takedown</h2>
	
	    <div class="slider">
	        
	    </div>
	</div>
	

</div>
